<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="Memoria"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="Server=MSI\SQLEXPRESS;Initial Catalog=Agenda Citas;trusted_connection=true;MultipleActiveResultSets=true;"/>
		<add name="MySQL"
			 connectionString="Server=127.0.0.1;Port=3306;Database=Agenda Citas;Uid=root;password=1234;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=Agenda Citas;Username=postgres;Password=12345678;"/>
		<add name="Memoria"
			 connectionString="AgendaCitas"/>
	</connectionStrings>
</configuration>